<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>家电再升级</title>
<meta name="keywords" content="">
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="telephone=no" name="format-detection">
	<style type="text/css">
		*{padding:0;margin:0;}
		body{background:#FE0351}
		img{width:100%;display: block;}
		.main{background:url(/addons/dq_2017/template/mobile/jd/img/bg.png) repeat-x;background-size:auto 100%;}
		section,footer{margin:0 4% 1.2em;}
	</style>
</head>
<body>
<header>
	<img src="/addons/dq_2017/template/mobile/jd/img/top.png" width="" height="" alt="" />
</header>
<div class="main">
	<!--4折-->
	<section>
		<img src="/addons/dq_2017/template/mobile/jd/img/q1.png" width="" height="" alt="" />
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1n3S-J62V7Xi0TwPBuLHwUo&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/41.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1py7mfysGuFRJlSgy72baUs&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/42.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1q9vq3zDdbhTFhXUjblqdG0&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/43.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1nR9ovviWyBmV72OW005PtI&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/44.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1vvfGq2CRxKQzwfW4_wlFCw&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/45.png" width="" height="" alt="" /></a>
		<img src="/addons/dq_2017/template/mobile/jd/img/qfoot.png" width="" height="" alt="" />
	</section>
	<!--5折-->
	<section>
		<img src="/addons/dq_2017/template/mobile/jd/img/q2.png" width="" height="" alt="" />
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1kIosy8WbR2kvncCRy3MnQA&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/51.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1gLP9ca_TC5Gn4UsxR9VWVg&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/52.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1kMbw_1MNvUCnRo2tBjhgdA&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/53.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1gQSPveqQ0O_pzZeiZCDGCE&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/54.png" width="" height="" alt="" /></a>
		<img src="/addons/dq_2017/template/mobile/jd/img/qfoot.png" width="" height="" alt="" />
	</section>
	<!--6折-->
	<section>
		<img src="/addons/dq_2017/template/mobile/jd/img/q3.png" width="" height="" alt="" />
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1jPulPifVyLl_ERmb5COQJE&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/61.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1ujl6o8pcAf-sBvsjcjPqvg&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/63.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1sr2g498RD6sYd7rUqyL8Eg&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/64.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1gJurTJpAHeTj0uWiPCK2Ho&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/66.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1rg-T7aSTCVz4HQ8_wl4FxQ&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/67.png" width="" height="" alt="" /></a>
		<img src="/addons/dq_2017/template/mobile/jd/img/qfoot.png" width="" height="" alt="" />
	</section>
	<!--7折-->
	<section>
		<img src="/addons/dq_2017/template/mobile/jd/img/q4.png" width="" height="" alt="" />
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1ozu96q4UOLiwQMtHTbqnWY&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/71.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1qdwaT7xa5Dm9HY5T5cEXP8&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/72.png" width="" height="" alt="" /></a>
		<a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pk_mF1qYBEPAFTWsrcgwVWUvwZvQ&biz=MzU5OTEwNDQwMw==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect
"><img src="/addons/dq_2017/template/mobile/jd/img/73.png" width="" height="" alt="" /></a>
		<img src="/addons/dq_2017/template/mobile/jd/img/qfoot.png" width="" height="" alt="" />
	</section>
	<!--活动说明-->
	<footer>
		<img src="/addons/dq_2017/template/mobile/jd/img/hint.png" width="" height="" alt="" />
	</footer>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src='../addons/dq_2017/template/mobile/newyear/js/jq.js'></script>
<script>
    wx.config({
        debug: false,
        appId: "{$_W['account']['jssdkconfig']['appId']}",
        timestamp: "{$_W['account']['jssdkconfig']['timestamp']}",
        nonceStr: "{$_W['account']['jssdkconfig']['nonceStr']}",
        signature: "{$_W['account']['jssdkconfig']['signature']}",
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'playVoice',
            'onVoicePlayEnd',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard'
        ]
    });
    function orshare() {
        var url = window.location.href;
        var sharetitle='家电再升级 线上再享4567折!';
        var sharedec = '比价全网后再享95卡+500升550大电95卡后2000升2380  线上再享4567折扣计划喷薄而出';
        wx.onMenuShareAppMessage({
            title: sharetitle, // 分享标题
            link: url, // 分享链接
            imgUrl: 'http://mswechat.mebaby.cn/addons/dq_2017/template/mobile/newyear/images/share.png', // 分享图标
            desc: sharedec, // 分享描述
            success: function (res) {
                console.log('成功分享到朋友');
            }

        });
        wx.onMenuShareTimeline({
            title: sharetitle, // 分享标题
            link: url, // 分享链接
            imgUrl: 'http://mswechat.mebaby.cn/addons/dq_2017/template/mobile/jd/img/share.png', // 分享图标
            success: function (res) {
                console.log('成功分享到朋友圈');
            }
        });
    }

    wx.ready(function () {
        wx.hideMenuItems({
            menuList: ["menuItem:editTag", "menuItem:delete", "menuItem:copyUrl", "menuItem:originPage", "menuItem:readMode", "menuItem:openWithQQBrowser", "menuItem:openWithSafari", "menuItem:share:email",
                "menuItem:share:qq", "menuItem:share:weiboApp", "menuItem:favorite", "menuItem:share:facebook", "menuItem:share:QZone"
            ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
        });
        orshare();
    });
</script>
<script>
    var _mtac = {};
    (function() {
        var mta = document.createElement("script");
        mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500568739");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
</script>

</body>
</html>