<div class="swiper-slide pgthree">
    <div class="head">
        <img class='logo' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/logo.png" alt="">
        <img class='zier' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/zier.png" alt="">
    </div>
    <p>您获得的荣誉值</p>
    <h1 id="cheerCount">100</h1>
    <div class="progress">
        <div class="qp" id="qpzhanbi">
            <span class="rank zhanbi" id="qprank" class="qprank">1%</span>
        </div>
        <div class="bar">
            <div class="failbar">
                <div class="barreal" id="failbarzhanbi"></div>
            </div>
            <div class="succbar">
                <div class="barreal" id="succbarzhanbi"></div>
            </div>

        </div>
    </div>
    <div class="rankbox">
        <p>您目前的排名是<span class="count qprank">1</span> &nbsp;&nbsp;超过了 <span class="rank zhanbi" id="decrank">1</span>个参与者</p>
    </div>
    <div class="findbtn" id="showhelp">
        呼朋唤友来投票
    </div>
    <div class="takecard">
        <a id='dq4k'
           href="http://wx.sagabuy.com/app/index.php?i=4&c=entry&do=prediction4k&m=member&boci={$boci}&pkid={$openid}&ADTAG={$way}">
            <img src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/4k.png" alt="">
        </a>
    </div>
    <div class="share hidden" id="findhelp">
        <img src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/findhelp.png" alt="">
    </div>
</div>