<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../addons/dq_2017/template/mobile/fourYearSrc/css/result.css">
    <title>真的感恩 真送两万</title>
    <style>
        .bold{
            font-weight: bold;
        }
    </style>

</head>
<body>
<div class="head">
    <img class='logo' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/logo.png" alt="">
    <img class='zier' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/zier.png" alt="">
</div>
<div class="inputbox">
    <img class='zhongjiang' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/rule.png" alt="">
    <p class="rule">
        <!--<span class="bold">活动说明：</span>-->
        <!--<br>-->
        赛格国际购物中心年销售突破45亿，在全国商业行业评选中，名列购物中心及百货全国第九，西部十省第一。在开业四周年之际，为答谢顾客的信任和支持，赛格拿出两千万，评选1000名幸运顾客，每人两万。
        <br>
        <br>
        <span class="bold">参与方式：</span>
        <br>
        填写报名信息，通过投票方式积累能量值，所获能量值排名位居前列（详见下述各波段获奖名额），即为“幸运顾客”，可获得赛格国际2万元现金购物卡，面值5000元，共计4张。
        <br>
        * 使用“神秘加速器”可额外增加能量值，但领奖时须出示对应有效证件原件，否则加速无效。
        <br>
        <br>
        <span class="bold">活动各波段获奖名额及参与时间：</span>
        <br>
        第一波：幸运顾客100名 <br>活动时间：9月01日-9月07日 <br>
        第二波：幸运顾客200名 <br>活动时间：9月08日-9月14日 <br>
        第三波：幸运顾客300名 <br>活动时间：9月15日-9月21日 <br>
        第四波：幸运顾客400名 <br>活动时间：9月22日-9月28日 <br>
        <br>

        <span class="bold">活动参与注意事项：</span>
        <br>
        1、所有信息均须如实填写，以便于获奖时进行身份验证，赛格国际承诺严格保密所有信息。如未通过身份验证（详见领奖须知）。
        <br>
        2、同一参与者仅可成为一次“幸运顾客”获得2万元现金卡大奖。如未获奖，还可参与下一波活动，但所获能量值清零。
        <br>
        3、活动参与者使用包括但不限于：计算机程序刷票、以牟利为目标的人工刷票等非正常手段刷票，扰乱正常活动秩序的任何行为，均取消其获奖资格。
        <br>
        4、活动进行中，规则如有更改，不再另行通知。在不违反中国法律法规的前提下，赛格国际享有本次活动的最终解释权。
        <br>
        <br>
        <span class="bold">领奖须知：</span> <br>
        1、领奖时须获奖本人持本人身份证原件（身份证号码须与填写的号码一致）现场领奖，若不能提供相应证件，则取消获奖资格。
        <br>
        2、获奖人如有使用“神秘加速器”请出示勾选项对应的有效证件原件，否则该项加速器所增加的能量值作废，重新计算排名获奖结果。
        <br>
        有签证：须出示中华人民共和国有签证记录的护照原件；
        <br>
        有车：须出示7座（含）以下有效的小型“非营运”性质车辆行驶证原件（以行驶证上标注的车辆性质为准），摩托车行驶证不可用；
        <br>
        高端银行卡：须出示各大银行高端银行卡（储蓄卡/信用卡），白金、钻石及以上级别；
        <br>
        商场高端会员：须出示赛格国际或各购物中心/百货商场最高级别会员卡；
        <br>
        航空公司金银卡：须出示各大航空公司金银卡或以上级别的实体会员卡或电子会员卡凭证；
        <br>
        高尔夫会所会籍：出示任一高尔夫俱乐部会籍证明；
        <br>
        私人飞机驾照：出示私人飞机驾照原件；
        <br>
        私人游艇驾照：出示私人游艇驾照原件；
        <br>
        王者荣耀：出示手机游戏王者荣耀游戏段位“最强王者”（须登录查看，截图无效）；
        <br>
        <br>
        <span class="bold">现金卡使用规则：</span><br>
        1、本卡为赛格店庆活动赠卡，可在赛格国际B1至5F百货区联营、自营专柜使用，其他均不可用。使用时须在各楼层总收银台结算。 <br>
        2、本卡购物不可参与商场其他各种优惠、促销活动。 <br>
        3、本卡不积分、不兑现，不开发票、不记名、不挂失、丢失不补，请妥善保管。<br>
        4、此卡购物不可退换货。 <br>
        5、卡有效期：2017年10月1日—2018年3月31日
        <br>
        <br>
        赛格国际购物中心地址：陕西省·西安市·长安路 小寨十字东北角 <br>
        客服电话：029-86300000
    </p>

</div>
</body>
</html>