<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../addons/dq_2017/template/mobile/fourYearSrc/css/majiang.css">
    <title>真的感恩 真送两万</title>
</head>
<body>
<div class="pgone" style="position: static;">
    <div class="head">
        <img class='logo' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/logo.png" alt="">
        <img class='zier' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/zier.png" alt="">
    </div>
    <div style="width: 93%;margin: 0 auto;margin-top: 20px;" id="head">
        <img  src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/main.png" alt="">
    </div>
    <div class="ruledet hidden" id="fastrule">
        <img style='width: 85%;margin: 37% auto;' src="../addons/dq_2017/template/mobile/fourYearSrc/majiang/depiao.png" alt="">
    </div>
</div>
<script src='../addons/dq_2017/template/mobile/fourYearSrc/js/jquery-1.11.3.js'></script>
<script>
    $('#fastrule').click(function(){
        $(this).addClass('hidden');
    });
    $('#head').click(function(){
        $('#fastrule').removeClass('hidden');
    })
</script>

<!--<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->
<!--<script>-->
<!--wx.closeWindow(function(){-->
<!--alert('关闭')-->
<!--});-->
<!--</script>-->
</body>
</html>